h2 {
    color:#000;
}
h1 {
    font-style: italic;
}
h3 {
    background-color: cyan;
    opacity: 80%;
    color: black;
    padding: 8px;
}
body {
    width: 70%;
    margin-left: 25px;
}

div {
    border: 1px solid black;
}
h3.name {
    margin-top: 0;
    font-size: 28px;
    padding: 24px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-transform: uppercase;
}
p {
    padding: 8px;
}